body{
    margin: 0%;padding: 0%;font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;background-color: #bbb;
    padding:1px;
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
}
header h1{
    color: rgb(54, 61, 94);
}
nav ul{
    display: flex;justify-content: center;
    align-items: center;
    gap: 20px;
}
nav ul li {
    list-style-type: none;
}
nav  a:hover {
    color: rgb(26, 48, 145);
}

nav  a{
    text-decoration: none;color: blue;
}


/* primeira seção, seção de apresenntação do site*/
.apresentação_site{
background-color: rgb(253, 248, 248);
margin-top: 100px;

}
.apresentação_site_article{
    display: flex;
    justify-content: space-between;
    padding:5% 8%;
    
}
.apresentação_site_article button{
    padding: 14px 40px;
    background-color: rgb(6, 102, 14);
    color: white;border-radius: 5px;
    border: 1px solid  rgb(6, 102, 14);
}
.apresentação_site_article figure img{
max-width: 100%;
}

/* seção de ofertas*/

section h3{
    text-align: center;
    }
.seção_ofertas{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    
 
}
.seção_ofertas article{
    box-shadow: 0 0 10px  rgb(163, 133, 133);
    width: 400px;
    text-align: center;
    border-radius: 10px;
   
    
    
    background-color:rgb(230, 215, 215);
   

}
.seção_ofertas article li{

color: rgb(36, 87, 70);
}
.seção_ofertas article img{
max-width: 100%;
}
.seção_ofertas article figcaption{
    
    text-align: start;
}
.seção_ofertas figcaption button{
    background-color: orangered;
    margin-left: 40%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid  rgb(236, 44, 18);
    color: white;
}

/* dicas*/
.dica{
    
   
    background-color:#525151;max-width: 100%;height:auto;
    text-align: center;
    padding-top: 50px;
   
    
    
}
main{
    position: relative;
}

.dica h4{
    text-align: center;
}
.dica p{
    text-align:center;
}
.dica button{
  margin-right:10px;
    background-color: orangered;
    padding: 20px 50px;
    color: white;border-radius: 5px;
    border: 1px solid  rgb(236, 44, 18);
     
}
.dica{
    margin-top: 0%;
      margin-bottom: 30%;
      padding-bottom: 100px;
     
}

.dica img{
   max-width: 100%;
   max-height: auto;
}
 
/*   links da página para as nossas redes*/
footer{
    display: flex;
    justify-content: space-around;gap: 30px;
    margin-top: 10%;background-color: rgb(90, 87, 87);
    color: white;
}
footer div{
    max-width: 20%;
    margin-bottom: 2%;
}
/* sobre as nossas academia local*/
.academias_locais{
    background-color: rgb(252, 250, 249);
    display: block;
}

.seção2 h2{
text-align: center;
margin-right: 19%;
}
.seção2 figure img{
    width: 70%;height:250px;
    margin-left: 15%;
   
}
.seção2 figcaption{
    text-align: center;
     margin-bottom: 50px;
}


@media(min-width:985px){
    .academias_locais{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 10px;
 
    
}
.bodyE{
   overflow: hidden;
}



        .seção2{
    margin-top: 10%;
    width:75%;
    margin-bottom: 20%;
   
 
}
.dica{
    
   
    background-color:#525151;max-width: 25%;height:auto;
    text-align: center;
    padding-top: 30px;
   
 
position: absolute;
top:1309px;
right: 0%;
}
.dica button{
  margin-right:10px;
    background-color: orangered;
    padding: 20px 50px;
    color: white;border-radius: 5px;
    border: 1px solid  rgb(236, 44, 18);
     margin-bottom: 400px;
}
}

/*formulário para fazer a escrição em uma das academias*/

.inscrever{
     position: absolute;
  top: 20%;
  
  z-index: 1;
    display: none;
    justify-content: center;

    
  width:100%;
}
form{
    border: 2px solid rgb(1, 44, 44);
    border-radius: 10px;
    padding: 15px;
    width:50%;
    height: auto;
    background-color: rgb(1, 44, 44);
  text-align: center;
  color: white;
 box-shadow: 0 0 20px #ccc;


}

.div1{
    margin-top: 50px;
}

.nome,.email,.data{
    margin:10px;
    padding: 10px;
   
}

.submeter{
    padding: 15px;
     border-radius: 10px;
    border: 1px solid  rgb(1, 44, 44);
    background-color: #918b8b;
}
form h3{
    color: green;
  
}


/* os pacotes de trinos*/
.asideE{
    position: absolute;
    top: 20%;
 
    width:100%;
    color: rgb(248, 245, 245);
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 30px;
}
.divE{
    width: 300px;
    background-color: rgb(10, 65, 46);
    text-align: center;
    height: 350px;
    padding-top: 30px;
    border: 1px solid rgb(10, 65, 46);
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}
.asideE ul{
    list-style-type: none;
    text-align: justify;
}

.asideE button{
    margin-top: 40px;
    padding: 15px;
}
.bodyE1{
    overflow: hidden;
}

@media(max-width:985px){
    .bodyE{
    overflow:auto;
}
.seçãoE2,.dicaE,.contatoE{
display: none;
}
}

