body{
    background-color:rgb(10, 1, 46);
}
.div0{
    text-align: center; margin-top: 5%;margin-left: 10%;margin-right: 10%;
    background-color: azure;height: 500px; background-image: url(img_inf/perna3.webp);
background-repeat:no-repeat ;
background-size:100%;
background-position-y:bottom;
background-position-x: left;
opacity: 70% ;
   
}
.nav{
   display: flex;justify-content: space-around;color: #ccc;flex-wrap:wrap;
}
.div1{
 margin-top: 5%;color: #ccc;text-align: center;
}
.div1_0,.div1_1,.div1_2,.div1_3,.div1_4{
box-shadow:  0px 0px 10px rgb(116, 105, 105);
text-align: center;transition: box-shadow 0.5s ease, trasnform 1s;
}
.div1_0:hover,.div1_1:hover,.div1_2:hover,.div1_3:hover,.div1_4:hover{
    box-shadow:  0px 0px 10px rgb(228, 219, 219);
    transform: scale(1.05);
}
@media screen and (min-width:573px) {
 
}
.div1_0,.div1_1,.div1_2,.div1_3,.div1_4{
box-shadow:  0px 0px 10px rgb(116, 105, 105);
text-align: center;transition: box-shadow 0.5s ease, trasnform 1s;display: inline-block;margin: 5px;}

.div0{
    
    background-color: azure;height: 500px;
    background-size:cover; 
}


@media screen and (max-width:573px) {

.div1_0,.div1_1,.div1_2,.div1_3,.div1_4{
box-shadow:  0px 0px 10px rgb(116, 105, 105);
text-align: center;transition: box-shadow 0.5s ease, trasnform 1s;display: inline-block;margin: 20px;}
.div0{
    
    background-color: azure;height: 400px; 
    background-size:cover;
}
}
